{% extends 'modelo.html' %}
{% load static %}
{% block titulo %}
<title>Turmas</title>
{% endblock %}
{% block conteudo %}
<div class="container">
<h3>Lista de Turmas Registradas</h3>
<a href="{% url 'cadastrar-turma' %}" class="btn btn-primary btn-
sm">Cadastrar Nova Turma</a>
<hr>
<div class="table-responsive">
<table class="table table-striped">
<tr>
<th>Nome</th>
<th>Descrição</th>
<th>Opções</th>
</tr>
{% for turma in object_list %}
<tr>
<td>{{ turma.nome }}</td>
<td>{{ turma.descricao }}</td>
<td>
<a href="{% url 'editar-turma' turma.pk %}" class="btn btn-
warning btn-sm" title="Editar">E</a>

<a href="{% url 'excluir-turma' turma.pk %}" class="btn btn-
danger btn-sm" title="Excluir">x</a>
</td>
</tr>
{% empty %}
<tr>
<td colspan="3">Nenhuma turma registrada.</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}