{% extends 'modelo.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block conteudo %}
    <header>
        <h1>Bem-vindo ao Dashboard</h1>
        <nav>
            <ul>
               
                <!-- Adicione outros links que você deseja -->
            </ul>
        </nav>
    </header>
    <main>
        <h2>Conteúdo do Dashboard</h2>
        <p>Aqui você pode ver informações relevantes após o login.</p>
        <!-- Adicione widgets ou informações que você deseja mostrar no dashboard -->
    </main>
    {% endblock %}
