{% extends 'modelo.html' %}
{% load static %}


    {% block titulo %}
    <title>Listar Cobranças</title>
    {% endblock %}

{% block conteudo %}
    <style>
        
        
        table {
            width: 100%;
            margin-top: 30px;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
            font-size: 1.1rem;
        }

        td {
            background-color: #fff;
            color: #555;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) td {
            background-color: #f9f9f9;
        }

        tr:hover td {
            background-color: #ecf0f1;
        }

        
        a {
            color: #3498db;
            font-weight: normal;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #2980b9;
        }

        
        @media (max-width: 768px) {
            table {
                font-size: 14px;
            }

            th, td {
                padding: 10px;
            }

            h1 {
                font-size: 2rem;
            }
        }
    </style>

    <h1>Listar Cobranças</h1>
    <a href="{% url 'criar_cobranca' %}">Nova Cobrança</a>
    <table>
        <thead>
            <tr>
                <th>Nome do Avião</th>
                <th>Tabela de Tarifas</th>
                <th>Quantidade de Horas</th>
                <th>Valor Total</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for cobranca in cobrancas %}
            <tr>
                <td>{{ cobranca.avi_codigo }}</td>
                <td>{{ cobranca.tar_codigo }}</td>
                <td>{{ cobranca.quantidade_horas }}</td>
                <td>R$ {{ cobranca.valor_total }}</td>
                <td><a href="{% url 'detalhes_cobranca' cobranca.id %}">Ver Detalhes</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}