{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        
        <div class="col">
            <a href="{% url 'listar-avioes' %}" class="text-decoration-none">
                <div class="card text-center shadow custom-card-level bg-primary text-white">
                    <div class="card-body">
                        <i class="fas fa-plane-departure fa-3x mb-3"></i> 
                        <h5 class="card-title"style="color: white;">Total de Aviões</h5>
                        <p class="display-6 font-weight-bold">{{ total_avioes|default:"0" }}</p>
                        <small>Registrados na base de dados</small>
                    </div>
                </div>
            </a>
        </div>

        
        <div class="col">
            <a href="{% url 'listar-lembretes' %}" class="text-decoration-none">
                <div class="card text-center shadow custom-card-level bg-success text-white">
                    <div class="card-body">
                        <i class="fas fa-bell fa-3x mb-3"></i>
                        <h5 class="card-title"style="color: white;">Lembretes</h5>
                        <p id="totalLembretesCard" class="display-6 font-weight-bold">{{ total_lembretes|default:"0" }}</p>
                        <small>Lembretes ativos</small>
                    </div>
                </div>
            </a>
        </div>

       
        <div class="col">
            <a href="{% url 'listar_cobrancas' %}" class="text-decoration-none">
                <div class="card text-center shadow custom-card-level bg-warning text-white">
                    <div class="card-body">
                        <i class="fas fa-money-bill-wave fa-3x mb-3 text-white"></i>
                        <h5 class="card-title"style="color: white;">Cobranças</h5>
                        <p class="display-6 font-weight-bold">{{ total_cobrancas|default:"0" }}</p>
                        <small class="text-white">Cobranças ativas</small>
                    </div>
                </div>
            </a>
        </div>
    </div>

    
    <div class="row justify-content-center g-4 mt-4">
        
        
        <div class="col-md-4">
            <a href="{% url 'listar-clientes' %}" class="text-decoration-none">
                <div class="card text-center shadow custom-card-level bg-info text-white">
                    <div class="card-body">
                        <i class="fas fa-users fa-3x mb-3"></i> 
                        <h5 class="card-title"style="color: white;">Clientes Cadastrados</h5>
                        <p class="display-6 font-weight-bold">{{ total_clientes|default:"0" }}</p>
                        <small>Clientes ativos</small>
                    </div>
                </div>
            </a>
        </div>

        
        <div class="col-md-4">
            <a href="{% url 'listar-tarifas' %}" class="text-decoration-none">
                <div class="card text-center shadow custom-card-level bg-danger text-white">
                    <div class="card-body">
                        <i class="fas fa-dollar-sign fa-3x mb-3"></i> 
                        <h5 class="card-title" style="color: white;">Tarifas Ativas</h5>
                        <p class="display-6 font-weight-bold">{{ total_tarifas|default:"0" }}</p>
                        <small style="color: white;">Tarifas registradas</small>
                    </div>
                </div>
            </a>
        </div>

        
<div class="col">
    <a href="{% url 'login' %}" class="text-decoration-none">
        <div class="card text-center shadow custom-card-level bg-danger text-white">
            <div class="card-body">
                <i class="fas fa-sign-out-alt fa-3x mb-3"></i>
                <p class="display-6 font-weight-bold">Sair</p>
                <br>
                <small style="color: white;">Desconecte-se e volte para o login</small>
            </div>
        </div>
    </a>
</div>



    </div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

{% block extra_css %}
<style>
    
    
    .custom-card-level {
        background: linear-gradient(145deg, #394957, #476c91);

        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    }

    .custom-card-level:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
    }

    
    .card-body:hover i {
        transform: scale(1.2); 
        transition: transform 0.3s ease;
    }

    
    .card-body {
        transition: background-color 0.3s ease;
    }

    .card:hover .card-body {
        background-color: rgba(0, 0, 0, 0.05); 
    }


    .card-title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    
  
    .fa-3x {
        font-size: 3rem;
    }


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
</style>
{% endblock %}

{% endblock %}
