{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
    Aviões
{% endblock %}

{% block conteudo %}
<div class="container">
    <h3>Lista de Aviões Registrados</h3>

    <hr>

    <div id="btns_aviao">
        <div>
            <a href="{% url 'criar-aviao' %}" class="btn btn-primary" style="text-align: left !important;">Cadastrar Novo Avião</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Prefixo do Avião</th>
                    <th>Toneladas</th>
                    <th>Grupo</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for aviao in object_list %}
                <tr>
                    <td>{{ aviao.avi_prefixo_do_aviao }}</td>
                    <td>{{ aviao.avi_toneladas }}</td>
                    <td>{{ aviao.avi_grupo }}</td>
                    <td>
                        <a href="{% url 'editar-aviao' aviao.avi_codigo %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-aviao' aviao.avi_codigo %}" class="btn btn-danger btn-sm" title="Excluir">x</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum avião registrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
