{% extends 'modelo.html' %}

{% block conteudo %}
<div class="container mt-4">
    <h2>Lista de Cobranças</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Avião</th>
                <th>Tarifa</th>
                <th>Quantidade de Horas</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for cobranca in cobrancas %}
            <tr>
                <td>{{ cobranca.id }}</td>
                <td>{{ cobranca.avi_codigo.modelo }}</td>  <!-- Exibindo o modelo do avião -->
                <td>{{ cobranca.tar_codigo.tipo }}</td>  <!-- Exibindo o tipo da tarifa -->
                <td>{{ cobranca.quantidade_horas }}</td>
                <td>{{ cobranca.valor_total }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma cobrança cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'criar_cobranca' %}" class="btn btn-primary">Nova Cobrança</a>
</div>
{% endblock %}
