<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Cobrança</title>
</head>
<body>
    <h1>Detalhes da Cobrança</h1>
    <p>Nome do Avião: {{ cobranca.avi.codigo }}</p>
    <p>Nome da Tarifa: {{ cobranca.tar.codigo }}</p>
    <p>Tipo de Voo: {{ cobranca.tar.tipo}}</p>
    <p>Quantidade de Horas: {{ cobranca.quantidade_horas }}</p>
    <p>Valor Total: R$ {{ cobranca.valor_total }}</p>
    <a href="{% url 'listar_cobrancas' %}">Voltar para lista</a>
</body>
</html>
