<h2>Criar Nova Cobrança</h2>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="id_avi_codigo">Avião:</label>
        {{ form.avi_codigo }} <!-- Dropdown com os aviões cadastrados -->
    </div>
    <div>
        <label for="id_tar_codigo">Tarifa:</label>
        {{ form.tar_codigo }}
    </div>
    <div>
        <label for="id_quantidade_horas">Quantidade de Horas:</label>
        {{ form.quantidade_horas }}
    </div>
    <div>
        <label for="id_valor_total">Valor Total:</label>
        {{ form.valor_total }}
    </div>
    <button type="submit">Salvar</button>
    <a href="{% url 'listar_cobrancas' %}">Cancelar</a>
</form>




<style>
    .card {
        box-shadow: none;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .form-control,
    .form-select {
        border-radius: 4px;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #333;
        box-shadow: none;
    }

    .container {
        font-family: Arial, sans-serif;
    }

    
    .d-flex {
        gap: 10px; 
    }

    .btn {
        width: 48%; 
    }
</style>

{% endblock %}
