{% extends 'modelo.html' %}
{% load static %}

{% block conteudo %}
<div class="container py-5" style="max-width: 400px;">
    <div class="card border-0">
        <div class="card-header text-center bg-light">
            <h3 class="mb-0 text-dark">Criar Nova Cobrança</h3>
        </div>
        
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                
                {{ form }}
                

              
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="{% url 'listar_cobrancas' %}" class="btn btn-danger">Cancelar</a>
                
                
            </form>
        </div>
    </div>
</div>



<style>
    .card {
        box-shadow: none;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .form-control,
    .form-select {
        border-radius: 4px;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #333;
        box-shadow: none;
    }

    .container {
        font-family: Arial, sans-serif;
    }

    
    .d-flex {
        gap: 10px; 
    }

    .btn {
        width: 48%; 
    }
</style>

{% endblock %}
