<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listar Cobranças</title>
</head>
<body>
    <h1>Listar Cobranças</h1>
    <a href="{% url 'criar_cobranca' %}">Nova Cobrança</a>
    <table>
        <thead>
            <tr>
                <th>Nome do Avião</th>
                <th>Tabela de Tarifas</th>
                <th>Quantidade de Horas</th>
                <th>Valor Total</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for cobranca in cobrancas %}
            <tr>
                <td>{{ cobranca.avi.codigo }}</td>
                <td>{{ cobranca.tar.codigo }}</td>
                <td>{{ cobranca.quantidade_horas }}</td>
                <td>R$ {{ cobranca.valor_total }}</td>
                <td><a href="{% url 'detalhes_cobranca' cobranca.id %}">Ver Detalhes</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
